<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>  
            /WEB-INF/classes/beans.xml  
        </param-value>
  </context-param>
  <listener>
    <listener-class>  
            org.springframework.web.context.ContextLoaderListener  
        </listener-class>
  </listener>
  
   <!-- Proxy Servlets -->
  <servlet>
   <servlet-name>user</servlet-name>
   <servlet-class>com.yw.proxy.UserServletProxy</servlet-class>
   <init-param>
    <param-name>targetBean</param-name>
    <param-value>userAPI</param-value><!-- 注意这个值需要和spring的配置文件中的id对应 -->
   </init-param>
	</servlet>
	
	
	<servlet>
   <servlet-name>cuisine</servlet-name>
   <servlet-class>com.yw.proxy.CuisineServletProxy</servlet-class>
   <init-param>
    <param-name>targetBean</param-name>
    <param-value>cuisineAPI</param-value><!-- 注意这个值需要和spring的配置文件中的id对应 -->
   </init-param>
	</servlet>
	
	
	<servlet-mapping>
   		<servlet-name>user</servlet-name>
   		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
   		<servlet-name>cuisine</servlet-name>
   		<url-pattern>/cuisine</url-pattern>
	</servlet-mapping>

<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>